/* RESET */

blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, samp,
small, strong, sub, sup, var,
h1, h2, b, u, i, u, q, s, a, p, ol, ul, li,
article, aside,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
  font-family:inherit;
	vertical-align:baseline;
  word-wrap:break-word;
  font-kerning:normal;
  hyphens:auto;
  -webkit-font-smoothing:antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, small {
	display:block;
}
html {
	font-family:"Noto Serif","Iowan Old Style",Palatino,"Palatino Linotype","URW Palladio L","P052",serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height:1.3;
  font-size:24px;
  background:#000;
  color:#eee;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  margin:auto;
  width:90vw;
  max-width:26rem;
  display:block;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img,picture {
  max-width:100%;
  height:auto;
  display:block;
  border-style:none;
}



/* LISTS */
ol {
  counter-reset: ol;
  margin-left: 1.5rem;
  & > li {
    counter-increment: ol;
    margin: 1.3rem 0;
    &::before {
      position: absolute;
      content:counter(ol)')';
      margin-left: -1.5em;
    }
  }
}



/* WELCOME */
.welcome{display:inline-block;font-size:5.8vw;}
.bisi{font-size:3.4vw;color:#ccc;margin-top:2rem;}
@media (min-width:692px){.welcome{font-size:1.7rem;}.bisi{font-size:1rem;}}



/* HEADER */

header {
  margin-top: -.5rem;
  margin-bottom: 1.3rem;
  h1 {
    margin: 0;
    line-height: 5rem;
  }
  &::before {
  width: 90vw;
  max-width: 26rem;
  overflow: hidden;
  white-space: pre;
  font-family: monospace;
  height: 5rem;
  content: "~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~\A~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~\A~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~\A~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~\A~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~";
  position: absolute;
  color: #333;
  background: linear-gradient(#000, #333 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -10;
  }
  nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
    width: 90vw;
    max-width: 26rem;
    flex-flow: row wrap;
    .navlink {
      flex: 1;
      background: none;
      text-shadow: none;
      font-size: 92%;
      padding: .2em;
      width: 100%;
      color: #eee;
      text-align: center;
      position: relative;
      &:hover, &:active {
        background: #333;
      }
    }
  }
}



/* FOOTER */

footer {
  border-top: 2px dashed #eee;
 &::before {
  width: 90vw;
  max-width: 26rem;
  overflow: hidden;
  font-family: monospace;
  white-space: pre;
  height: 2.5rem;
  content: "~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~\A~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~";
  background: linear-gradient(#333 70%, #000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  color: #333;
  z-index: -10;
  }}



/* LINKS */

a {
  color: #eee;
  &:visited {
    color: #bbb;
  }
  &:hover {
    color: #999;
  }
}
a, u {
  text-decoration:none;
  background:linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(currentColor, currentColor);
  background-size:0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat:no-repeat, no-repeat, repeat-x;
  text-shadow:0.03em 0 #000, -0.03em 0 #000, 0 0.03em #000, 0 -0.03em #000, 0.06em 0 #000, -0.06em 0 #000, 0.09em 0 #000, -0.09em 0 #000, 0.12em 0 #000, -0.12em 0 #000, 0.15em 0 #000, -0.15em 0 #000;
  background-position:0% 93%, 100% 93%, 0% 93%;
}



/* HEADINGS */

h1, h2 {
  hyphens:none;
  line-height:1.1;
  a, a:visited {
    background:none;
    color:#eee;
    text-shadow:none;
  }
  a:hover {
    color:#ccc;
  }
}
h1,h2,figcaption {
  text-wrap:balance;
}
h1 {
  font-size:1.3rem;
  text-align:center;
}
h2 {
  font-size:1.2rem;
  font-variant:small-caps;
  border-bottom:dashed 1px #eee;
  letter-spacing:1px;
}



/* SMALL */

small,figcaption {
  color:#ccc;
  font-size:80%;
}
h1 + small {
  text-align:center;
}
h2 > small {
  display:inline;
}
small.mod-date {
  text-align:right;
  margin-bottom:-1.6rem;
}
small.copyright {
  margin-top:.2rem;
}



/* DROPCAP */

hgroup + p::first-letter {
  font-size:4.5rem;
  margin-top:.4rem;
  line-height:3rem;
  height:3rem;
  float:left;
  margin-right:.4rem;
  font-weight:800;
}



/* SPACING */

hgroup + p {
  margin-top:1rem;
}
p + figure {
  margin-top:1.8rem;
}
main > * + * {
  margin-top:1.3rem;
}
footer {
  margin-top:1.8rem;
}
article + article {
  margin:0;
}



/* SUB AND SUP */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}



/* MISC RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/*
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/*
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/*
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/*
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}



/* POST */

.post {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  hyphens: none;
  text-transform: lowercase;
  text-shadow: none;
  padding: .65rem 0;
  background: none;
  &:visited{color:#eee;}
  &:hover,&:active{color:#eee;background:#333;}
}




/* MEDIA
 * MEDIA
 * MEDIA */

@media (max-width: 480px) {
  html {
    font-size: 130%;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 115%;
  }
  h2 {
    letter-spacing:0;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 100%;
  }
}

/* hello hello hello */
