h2 + p {
  margin-top:0;
}
.dc {
  font-size: 4.5rem;
  margin-top: .2rem;
  line-height: .76;
  float: left;
  margin-right: .4rem;
  font-weight: 800;
}
figure {margin:1rem 0;}
figcaption {text-wrap:balance;font-size:86%;color:#ccc;}
blockquote {
  margin: 1em 0 0 1em;
  font-size: 92%;
  border-left: 2px dashed #eee;
  padding-left: .5em;
  text-wrap: balance;
  + figcaption {
    text-align: right;
  }
}
blockquote.epigraph {
  border: none;
  padding: 0;
  margin: 1.5em 1.5em 0 1.5em;
  + figcaption {
    margin: 0 1.5em 1.5em 0;
  }
}
header {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  h1 {
    margin: 0;
    line-height: 5rem;
  }
  &::before {
  width: 90vw;
  max-width: 26rem;
  overflow: hidden;
  white-space: pre;
  font-family: monospace;
  height: 5rem;
  content: "~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~\A~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~\A~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~\A~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~\A~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~";
  position: absolute;
  color: #333;
  background: linear-gradient(#000, #333 50%);
 background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -10;
  }
  nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
    width: 90vw;
    max-width: 26rem;
    flex-flow: row wrap;
    .navlink {
      flex: 1;
      background: none;
      text-shadow: none;
      font-size: 92%;
      padding: .2em;
      width: 100%;
      color: #eee;
      text-align: center;
      position: relative;
      &:hover, &:active {
        background: #333;
      }
    }
  }
}
footer {
  border-top: 2px dashed #eee;
 &::before {
  width: 90vw;
  max-width: 26rem;
  overflow: hidden;
  font-family: monospace;
  white-space: pre;
  height: 2.5rem;
  content: "~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~\A~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~.~`~";
  background: linear-gradient(#333 70%, #000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  color: #333;
  z-index: -10;
  }}
.subtitle{
  font-size: 80%;
  color: #ccc;
  margin: .5rem 0;
}
.modDate {
  font-size: 80%;
  color: #ccc;
  margin:-.5rem 0 .5rem 0;
}
.postdate {
  font-size: 80%;
  color: #ccc;
  text-align: center;
  margin: 0;
}
ol {
  counter-reset: ol;
  margin-left: 1.5rem;
  & > li {
    counter-increment: ol;
    margin: 0.5rem 0;
    &::before {
      position: absolute;
      content:counter(ol)')';
      margin-left: -1.5em;
    }
  }
}
pre {
    overflow: auto;
    padding: 0.5em;
    line-height: 130%;
  }
code, pre {
  background: #333;
  font-family: monospace;
  font-size: 95%;
}
.poem {
    display: table;
    margin-left:auto;
    margin-right:auto;
  }
  .stanza {
    text-indent: 0;
    margin-left: 2em;
    + figcaption {text-align:right;}
  }
  .verse {
    margin-left: -2em;
  }
.post {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  hyphens: none;
  text-transform: lowercase;
  .subtitle {
    margin: 0 0 0 1rem;
  }
  width: 100%;
  text-shadow: none;
  padding: .5rem 0;
  color: #eee;
  background: none;
  &:visited{color:#eee;}
  &:hover,&:active{color:#eee;background:#333;}
}
.notice {
  background: #6E260E;
  padding: .5rem;
  text-align: center;
}
.bigimg {
  margin-left:-5em;
  margin-right:-5em;
}
.mpt {
  margin:0;
}
.context {
  background:#222;
  margin:1rem 0;
  position:relative;
  padding:0.5rem 1rem;
  hyphens:auto;
}
