@media (max-width: 550px) {
  html {
    font-size: 140%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 130%;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 120%;
  }
  .edt {
    text-wrap: balance;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 115%;
  }
  h2 {
    letter-spacing: 0;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 105%;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 315px) {
  html {
    font-size: 95%;
  }
}
